extends base.jade

block body
    header
        nav
            ul.left
                li: a(href=getPageUrl(contents['solutions']['index.json'])) Solutions
                li: a(href=getPageUrl(contents['blog']['index.json'])) Blog
                li: a(href=getPageUrl(contents['about.md'])) About

        div.cc
            a.flex1.cc(href=getPageUrl(contents['index.md']))
                img.f70(src=contents['images']['logo.opendevsecops.svg'].getUrl())

        nav
            ul.right
                li: a(href="https://twitter.com/opendevsecops") Twitter
                li: a(href="https://github.com/opendevsecops") GitHub

    article#main
        block article
            !=page.html
