extends page.jade

prepend head
    - var selectedPage = page
    - var selectedArticles = []

    - var root = contents['solutions']
    - var index = root['index.json']

    - var entries = Object.values(root).filter(function (entry) {
    -   return entry !== index
    - })

    - var articles = entries.sort(function (itemA, itemB) {
    -   return parseInt(itemB.metadata.priority || '0') - parseInt(itemA.metadata.priority || '0')
    - })

    - selectedPage = entries[0]

    if page === index
        - page = selectedPage

    - var pageIndex = articles.indexOf(page)

    - selectedArticles = entries.filter(function (item) {
    -   return item !== page
    - })

block article
    section.grid.grid-c2-3
        section.cc.p60
            div.ct
                h1=page.metadata.caption
                div=page.metadata.description
                div.mt20
                    a(href=page.metadata.link, target="_blank") Install

        section.cc.p60.b4
            div.ct
                if page.metadata.image
                    img.w70(src=page.metadata.image)

                else
                    img.w70.identity-icon(data-seed=page.metadata.caption)

    !=page.html

    if selectedArticles.length
        section.b5.grid.grid-c5.grid-cg10.grid-rg10.pt60.pb60.pl20.pr20
            for selectedArticle in selectedArticles
                div.cc.fs-small
                    a.flex1.cc(href=getPageUrl(selectedArticle))
                        if selectedArticle.metadata.image
                            img.f70(src=selectedArticle.metadata.image)
                        else
                            img.w70.identity-icon(data-seed=selectedArticle.metadata.caption)

                        div.mt10.ellipsis=selectedArticle.metadata.caption
