extends page.jade

prepend head
    - var selectedArticles = []

    - var root = contents['solutions']
    - var index = root['index.json']

    - var entries = Object.values(root).filter(function (entry) {
    -   return entry !== index
    - })

    - var pages = entries.sort(function (itemA, itemB) {
    -   return parseInt(itemB.metadata.priority || '0') - parseInt(itemA.metadata.priority || '0')
    - })

    if page === index
        - page = entries[0]

block article
    section.wh-header.ccv.bb.cw.geopattern(data-seed=page.metadata.geopatternSeed, data-color="#000000", data-baseColor="#000000")
        div.mla.mra.mw1200
            if page.metadata.icon
                img(alt="Icon", src=page.metadata.icon)
            h1=page.metadata.title
            div=page.metadata.punch
            div.mt50
                a.button(target="_blank", href=page.metadata.link)=(page.metadata.caption || 'Download')

    section.mt60.mb60.mla.mra.mw1200.grid.grid-c1-3
        div
            ul.m0.p0.lstn
                for page in pages
                    li.mb20: a.nav2(href=getPageUrl(page))=page.metadata.title

        article
            !=page.html
